.numbering {
  display: none;
}

.disabled-first-end {
  display: none;
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}
